%html

  %meta{:'http-equiv' => 'Content-Type', content: 'text/html; charset=utf-8'}
  %meta{:'http-equiv' => 'X-UA-Compatible', content: 'edge'}

  %title
  %head
    =stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = stylesheet_link_tag '//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css'
    = javascript_include_tag '//code.jquery.com/ui/1.11.1/jquery-ui.js'
    -if current_user.nil?
      =stylesheet_link_tag 'loggedout/loggin'
    = csrf_meta_tags
  %body
    #wrapper
      -if current_user
        = render :partial => "/shared/user_nav"
        
      =yield
      = render :partial =>"/shared/warning"
